*{
    margin: 0%;
    padding: 0%;
    margin-right: 0%;
}
#name{
    border: 0.5rem;
    width: auto;
    height: 2.5rem;
    border-color: black;
    background-color: aqua;

    color: gray;
    position:relative;
}
.search {
    float: right;
    height: 1.5rem;
    text-align: center;
    margin-top: 8px;
    
    
}
h1{

    text-align: center;
    

}
button{
    float: right;
}
.bt{

    float: right;
    height: 1.5rem;
    text-align: center;
    margin-top: 8px;
    width: 50px;
    margin-left: 2px;

}
#slider{
    width: 99.60%;
    height: 40%;
    background-color: black;
    justify-content: center;
    background-image: url(./image/use.jpg) ;
    background-size: 100% 227px;
    background-repeat: no-repeat;

   
}
body{
    background-color: yellow;
}
#item th > td{background-color: red ;
    color: blue;

}
section{
    display: flex;
    width: auto;
    height: auto;
}
section div{
    width: 25%;
    height: 50%;
    margin:5px ;
background-color:black;
text-align: center;
color: cyan;
border: green;
border-style: double;
background-size: cover;


}
hr{
    height: 1%;
    background-color: gray;
    
    color: red;
    padding: 2px;

}
.logo{
    
    display: block;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    
    
}